<div class="container mt-3">
    <div class="card col-12 p-2 shadow rounded-lg">
        <form action="">
            <div class="row justify-content-center">
                <div class="form-group col-9 col-sm-9 col-md-3 col-lg-3 col-xl-3 p-2">
                    <label class="h4">Search</label>
                    <input [(ngModel)]="requestData.search_data" id="search" type="text" class="form-control form-control-underlined" placeholder="Search" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-9 col-sm-9 col-md-3 col-lg-3 col-xl-3 p-2">
                    <label class="h4">Category</label>
                    <select [(ngModel)]="requestData.search_category" class="form-control custom-select form-control-underlined" id="searchCategory" name="searchCategory" value='All'>
                        <option disabled hidden [value]="select1">-- select --</option>
                        <option value="all">All</option>
                        <option value="agriculture">Agriculture &amp; Fertilizers</option>
                        <option value="atm">ATM</option>
                        <option value="banks">Banks</option>
                        <option value="beauty">Beauty &amp; Fashion</option>
                        <option value="building">Building &amp; Construction Materials</option>
                        <option value="computer">Computer &amp; Peripherals</option>
                        <option value="data">Data &amp; Offset Printing</option>
                        <option value="doctors">Doctors</option>
                        <option value="education">Education</option>
                        <option value="electrician">Electrician</option>
                        <option value="electronics">Electronics &amp; Accessories</option>
                        <option value="emergency">Emergency Numbers</option>
                        <option value="engineer">Engineer</option>
                        <option value="food">Food Products</option>
                        <option value="fourwheelers">Four Wheelers &amp; Accessories</option>
                        <option value="goldsmith">Gold Smith &amp; Jewellery Works</option>
                        <option value="government">Government Offices</option>
                        <option value="hardwares">Hardwares &amp; Metals</option>
                        <option value="homeappliances">Home Appliances</option>
                        <option value="hospitalsmedicals">Hospitals &amp; Medical Stores</option>
                        <option value="hotelslodges">Hotels &amp; Lodges</option>
                        <option value="industries">Industries</option>
                        <option value="jewelleryshops">Jewellery Shops</option>
                        <option value="medianews">Media &amp; News Reporters</option>
                        <option value="necessary">Necessary Numbers</option>
                        <option value="office">Office Stationaries</option>
                        <option value="petsanimals">Pets &amp; Animals</option>
                        <option value="realestate">Real Estate</option>
                        <option value="software">Software</option>
                        <option value="sports">Sports</option>
                        <option value="tailors">Tailors</option>
                        <option value="temple">Temple</option>
                        <option value="transportation">Transportation &amp; Couriers</option>
                        <option value="twowheelers">Two Wheelers &amp; Accessories</option>
                    </select>
                </div>
                <div class="form-group col-9 col-sm-9 col-md-3 col-lg-3 col-xl-3 p-2">
                    <label class="h4">Area</label>
                    <select [(ngModel)]="requestData.search_area" class="form-control custom-select form-control-underlined" id="searchArea" name="searchArea">
                        <option disabled hidden [value]="select2">-- select --</option>
                        <option value="all">All</option>
                        <option value="apmcyard">APMC Yard</option>
                        <option value="balrajursroad">Balraj Urs Road</option>
                        <option value="bhroad">B H Road</option>
                        <option value="durgigudi">Durgigudi</option>
                        <option value="fortroad(koteroad)">Fort Road(Kote Road)</option>
                        <option value="gadikoppa">Gadi Koppa</option>
                        <option value="gandhibazaar">Gandhi Bazaar</option>
                        <option value="gandhinagar">Gandhi Nagar</option>
                        <option value="gardenarea">Garden Area</option>
                        <option value="gopalagowdaextension">Gopala Gowda Extension</option>
                        <option value="gurpura">Gurpura</option>
                        <option value="industrialestate">Industrial Estate</option>
                        <option value="jailroad">Jail Road</option>
                        <option value="jpnroad">J P N Road</option>
                        <option value="krpuram">K R Puram</option>
                        <option value="kuvempuroad">Kuvempu Road</option>
                        <option value="llrroad">L L R Road</option>
                        <option value="navule">Navule</option>
                        <option value="nehruroad">Nehru Road</option>
                        <option value="ntroad">N T Road</option>
                        <option value="otroad">O T Road</option>
                        <option value="panchavaticolony">Panchavati Colony</option>
                        <option value="sagarroad">Sagar Road</option>
                        <option value="savalangaroad">Savalanga Road</option>
                        <option value="savarlineroad">Savarline Road</option>
                        <option value="shankarmuttroad">Shankarmutt Road</option>
                        <option value="tankmohalla">Tank Mohalla</option>
                        <option value="tilaknagar">Tilak Nagar</option>
                        <option value="vidyanagara">Vidya Nagara</option>
                        <option value="vinobhanagar">Vinobha Nagar</option>
                        <option value="vivekanandabadavane">Vivekananda Badavane</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="form-group col-12 p-2 text-center">
            <div class="row justify-content-center">
                <button type="button" class="col-6 col-sm-3 m-2 btn btn-warning" (click)="searchData()">Search</button>
                <button type="button" class="col-6 col-sm-3 m-2 btn btn-danger" (click)="clearData()">Clear</button>
            </div>
        </div>
        <div class="row text-center justify-content-center d-none">
            <div class=" col-6 ">
                <div class="alert alert-warning alert-dismissible fade hide" role="alert">
                    <strong>Oops!</strong> You should fill all the fields above.
                    <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                      <span aria-hidden="true ">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid ">
    <div class="row overflow-auto justify-content-center style-overflow " style="height: 18rem; ">
        <div *ngFor="let details of responseData " class="card col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 m-2 shadow-sm search-card-background ">
            <div class="card-body ">
                <h5 class="card-title ">{{details.Dname}}</h5>
                <hr>
                <div class="col-12 ">
                    <div class="row ">
                        <div class="col-6 ">
                            <label class="h6 ">Name</label>
                            <p class="card-text ">{{details.Pname}}</p>
                        </div>
                        <div class="col-6 ">
                            <label class="h6 ">Address</label>
                            <p class="card-text ">{{details.Address}} {{details.Mobile}}</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 ">
                            <label class="h6 ">Mobile number</label>
                            <p class="card-text ">{{details.Mobile}}</p>
                        </div>
                        <div class="col-6 ">
                            <label class="h6 ">Mail ID</label>
                            <p class="card-text ">{{details.Email==" "?"--- ":"details.Email "}} </p>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="card-text "><small class="text-muted ">updated - 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>