/* You can add global styles to this file, and also import other style files */

.style-overflow::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.style-overflow::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.style-overflow::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(235, 235, 235)), color-stop(0.72, rgb(245, 245, 245)),
		color-stop(0.86, rgb(242, 245, 255)));
}